:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html, body {
    font-family: Outfit;
    background-color: var(--light-gray);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    height: 530px;
    width: 350px;
    background-color: var(--white);
    padding: 0.1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section {
    padding-inline: 2rem;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    color: var(--dark-blue);
}

p {
    font-size: 17px;
    color: var(--grayish-blue);
}

img {
    width: 20rem;
    border-radius: 15px;
}